<module name="Header">
    <property name="headerFile" value="////////////////////////////////////////////////////////////////////
        // [Ion] [Cainareanu] [2034295]
        // [Ciprian] [Agafitei] [2034325]
        ////////////////////////////////////////////////////////////////////" />
</module>
<module name="BooleanExpressionComplexity" />
<module name="CyclomaticComplexity" />
<module name="FileLength" />
<module name="LineLength" />
<module name="MethodLength" />
<module name="EmptyCatchBlock" />
<module name="FileTabCharacter" />
<module name="AvoidStarImport" />
<module name="IllegalImport" />
<module name="NeedBraces" />